DataFrame cheatsheet

In [1]:
import pandas as pd

In [2]:
# want to see this in dataframe
#
# id    in   out    time
# 1001  500   1200   4
# 1002  600   1300   5
# 1003  500   1400   4
# 1004  200  1000    6
# 1005  300  900     7

In [3]:
ids = [1001,1002,1003,1004,1005,1006,1007,1008]
indata = [500,600,500,200,300,900,700,200]
outdata = [1200,1300,1400,100,900,1200,1300,1500]
timeofday = [4,5,4,4,7,5,4,5]

In [4]:
data = {}
data['ids'] = ids
data['in'] = indata
data['out'] = outdata
data['tod'] = timeofday

In [5]:
df = pd.DataFrame(data)
df

    ids   in   out  tod
0  1001  500  1200    4
1  1002  600  1300    5
2  1003  500  1400    4
3  1004  200   100    4
4  1005  300   900    7
5  1006  900  1200    5
6  1007  700  1300    4
7  1008  200  1500    5

In [6]:
df.tod.max()

7

In [7]:
df.tod.min()

4

In [8]:
df.tod.mean()

4.75

In [9]:
df[df.out>200].tod.value_counts()

5    3
4    3
7    1
Name: tod, dtype: int64

In [10]:
df.tod.nlargest(2)

4    7
1    5
Name: tod, dtype: int64

In [11]:
df.nlargest(1,['tod'])

    ids   in  out  tod
4  1005  300  900    7

In [12]:
df.nlargest(1,['out'])

    ids   in   out  tod
7  1008  200  1500    5

In [13]:
df['tod'].value_counts()

4    4
5    3
7    1
Name: tod, dtype: int64

In [14]:
df.to_feather('/tmp/data.ftr')

ImportError: pyarrow is not installed

you can install via conda
conda install pyarrow -c conda-forge
or via pip
pip install -U pyarrow